@model IoTControl.Web.ViewModels.LifxViewModel.FavoriteEditor

@{
    ViewBag.Title = "Add LIFX Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add LIFX Favorite</h2>

@using (Html.BeginForm("Add", "Lifx", FormMethod.Post, new { @class = "form-horizontal", id = "frmLifxFavorite" }))
{
    @Html.Partial("_PartialFavoriteEditor", Model)
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    @Html.Partial("_PartialFavoriteJS")
}
