@model IoTControl.Web.ViewModels.LifxViewModel.FavoriteEditor

@{
    ViewBag.Title = "Add LIFX Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add LIFX Favorite</h2>

@using (Html.BeginForm("Add", "Lifx", FormMethod.Post, new { @class = "form-horizontal", id="frmLifxFavorite" }))
{
    @Html.Partial("_PartialFavoriteEditor", Model)
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">
        $("#btnGetState").click(function (e) {
            var frmData = $("#frmLifxFavorite").serialize();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCurrentColor","Lifx")",
                data: frmData,
                dataType: "json",
                success: function (data) {
                    $("#JsonValue").val(data);
                },
                fail: function (data) {
                    alert("Error: " + data);
                }
            });
        });

        $("#ColorPicker").spectrum({
            preferredFormat: "hsv",
            flat: true,
            showInput: true,
            change: function (color) {
                var ntcMatch = ntc.name(color.toHexString());
                var nRgb = ntcMatch[0]; // RGB value of closest match
                var nName = ntcMatch[1]; // Text string: Color name
                var nExactmatch = ntcMatch[2]; // True if exact color match

                $("#divColorName").text("So you like the color " + nName + " huh? Nice!");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLifxColorJson","Lifx")",
                    data: color.toHsv(),
                    dataType: "json",
                    success: function (data) {
                        $("#JsonValue").val(data);
                    },
                    fail: function (data) {
                        alert("Error: " + data);
                    }
                });
            }
            });
    </script>
}
