@model IoTControl.Web.ViewModels.LifxViewModel.FavoriteEditor

@{
    ViewBag.Title = "Add LIFX Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add LIFX Favorite</h2>

@using (Html.BeginForm("Add", "Lifx", FormMethod.Post, new { @class = "form-horizontal", id="frmLifxFavorite" }))
{
    @Html.Partial("_PartialFavoriteEditor", Model)
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">
        $(document).ready(function () {
            var kelvins = [2500, 2750, 3000, 3200, 3500, 4000, 4500, 5000, 5500, 6000, 6500, 7000, 7500, 8000, 8500, 9000];

            for (var i = 0; i < kelvins.length; i++) {
                var kelvin = kelvins[i];

                var temperatureHex = chroma.temperature(kelvin);

                $("<div/>", {
                    text: kelvin + " Kelvin",
                    id: "divK" + kelvin,
                    name: "divK" + kelvin,
                    css: {
                        "background-color": temperatureHex
                    },
                    on: {
                        click: function() {
                            console.log(this.id);
                        }
                    },
                    appendTo:"#divKelvins"
                });
            }
        });

        $("#btnGetState").click(function (e) {
            var frmData = $("#frmLifxFavorite").serialize();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCurrentColor","Lifx")",
                data: frmData,
                dataType: "json",
                success: function (data) {
                    $("#JsonValue").val(data);
                },
                fail: function (data) {
                    alert("Error: " + data);
                }
            });
        });

        $("#ColorPicker").spectrum({
            preferredFormat: "hsv",
            flat: true,
            showInput: true,
            change: function (color) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLifxColorJson","Lifx")",
                    data: color.toHsv(),
                    dataType: "json",
                    success: function (data) {
                        $("#JsonValue").val(data);
                    },
                    fail: function (data) {
                        alert("Error: " + data);
                    }
                });
            }
        });
    </script>
}
