@model IoTControl.Web.ViewModels.LifxViewModel.FavoriteEditor

@{
    ViewBag.Title = "Edit LIFX Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit LIFX Favorite</h2>

@using (Html.BeginForm("Edit", "Lifx", FormMethod.Post, new { @class = "form-horizontal", id = "frmLifxFavorite" }))
{
    @Html.Partial("_PartialFavoriteEditor", Model)
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#btnGetState").click(function(e) {
            var frmData = $("#frmLifxFavorite").serialize();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetCurrentColor", "Lifx")",
                data: frmData,
                dataType: "json",
                success: function(data) {
                    $("#JsonValue").val(data);
                },
                fail: function(data) {
                    alert("Error: " + data);
                }
            });
        });

        $("#ColorPicker").spectrum({
            preferredFormat: "hsv",
            appendTo: "divColorPicker",
            flat: true,
            showInput: true,
            change: function () {
                UpdateLifxJsonBody();
            }
        });

        $("#LifxFavoriteJson_Duration").on("change", function() {
            UpdateLifxJsonBody();
        });

        $("#LifxFavoriteJson_Power").on("change", function() {
            UpdateLifxJsonBody();
        });

        $("#Kelvin").on("change", function () {
            var selectedKelvinColor = $("option:selected", this).css("background-color");
            $(this).css("background-color", selectedKelvinColor);

            UpdateLifxJsonBody();
        });

        function UpdateLifxJsonBody() {
            var color = $("#ColorPicker").spectrum("get");

            var hsvColor = color.toHsv();

            var model = {
                power: $("#LifxFavoriteJson_Power").val(),
                hue: hsvColor.h,
                saturation: hsvColor.s,
                brightness: hsvColor.v,
                kelvin: $("#Kelvin").val(),
                duration: $("#LifxFavoriteJson_Duration").val()
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetLifxColorJson", "Lifx")",
                data: JSON.stringify(model),
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    $("#JsonValue").val(data);
                },
                fail: function(data) {
                    alert("Error: " + data);
                }
            });
        }
    </script>
}