@model IoTControl.Models.UserLifxFavorite

@{
    ViewBag.Title = "Edit LIFX Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit LIFX Favorite</h2>

@using (Html.BeginForm("Edit", "Lifx", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialFavoriteEditor", Model)
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}