@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: #303030 url('/Content/images/IOT.jpg') no-repeat center center; height: 370px;">

</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Content/images/LIFX_Logo.png" alt="LIFX Lights" title="LIFX Lights" />
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>