@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-home">

</div>

<div class="jumbotron jumbotron-mobile text-center">
    Welcome To AJT.IO<br/>
    Internet of Things
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <p>
            <img src="~/Content/images/LIFX_Logo.png" alt="LIFX Lights" title="LIFX Lights" />
        </p>
    </div>
</div>